*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
hr{
	border-left: none;
	border-bottom: none;
	border-right: none;
	padding: 15px 15px;
}
#logo{
	font-size: 29px;
	font-weight: 900;
}
.side-nav li > a > i{
	float: left;
    height: 48px;
    line-height: 48px;
    margin-right: 5px;
    width: 24px;
    color: #fafafa !important;
}
.side-nav li:not(#li-container-logo)::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px; 
    right: 15px;
    top: 23px;
    background-image: url(../img/image.svg);
    background-position: center;
    background-size: contain;
    transition: transform 0.5s cubic-bezier(0, 1.38, 1, 1);
}
.side-nav li.activado::after {
    transform: rotateZ(180deg); 
}
.side-nav li {
    position: relative;
}
#li-container-logo{
	margin-bottom: 22px;
}
button, input {
    outline: 0px;
}

header, main, footer {
  padding-left: 220px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.contenido {
    margin: 20px;
}

body {
    background-color: #F8F8F8;
}
#slide-out li a{
	font-size: 16px;
}
ul[class*="side-nav"] {
    width: 220px;
}

.separador-contenido-top {
    margin-top: 20px;
}

.separador-contenido-botton {
    margin-bottom: 20px;
}

/*---------------Menu----------------------------*/
#slide-out li > a, #slide-out li ul a{
	color: #fafafa;
	padding: 7px 15px;
}
#slide-out ul{
	display: none;
}
#slide-out li ul{ /*Fondo de los sub-menus*/
	background: #242733 !important;
	color: #fff;
	padding-left: 30px;
}

#slide-out{
	background: #20222D !important;
	width: 245px !important;
}
/*------------Fin Menu---------------------------*/

/* ------------ input buscar ; botones de agregar, buscar  ------------------------*/
.botton-agregar {
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 8px 10px;
    border-radius: 3px;
    color: #666;
    cursor: pointer;
}

.botton-agregar:hover {
    border-color: #108ee9;
    color: #108ee9;
}

.boton-buscar{
    border: none;
    margin: 0;
    padding: 9px 15px;
    position: absolute;
    color: white;
    background: #108ee9;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}

.input-buscar {
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 8px 10px;
    margin: 0;
    color: #666;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.input-buscar:focus, .boton-buscar{
    outline:0px;
}

.margin-bottom {
    margin-bottom: 10px;
}

/*------------------------tabla  word-break: break-all ---------------------------- */
.contendenor-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
}

thead > tr > th {
    background-color: #f7f7f7;
    padding: 10px 20px;
    font-weight: 400;
}


tbody > tr > td {
    text-align: center;
    padding: 10px 20px;
}

th, td {
    border: 1px solid #f4f4f4;
    color: #666;
}

tbody > tr{
    transition:  all 1s ease ;
}

tbody > tr:hover{
    background-color: #ECF6FD;
}

.btn-accion {
    background-color: white;
    border-radius: 3px;
    padding: 5px 6px;
    cursor: pointer;
    border: none;
}

.btn-actualizar {
    color: #108ee9;
}

.btn-eliminar {
    color: #F04134;
}

.contenedor-total-res {
    color: #666;
    margin-top: 20px;
}

/* modals ----------------------------------------------*/

.modal-header{
    border-bottom: 1px solid #f4f4f4;
    padding: 14px 16px;
    background: rgba(224, 224, 224, 0.47);
}
.modal-section{
    padding: 14px 16px;
}
.modal-foter {
    border-top: 1px solid #f4f4f4;
    padding: 14px 16px;
    display: flex;
    justify-content: flex-end;
}

div#modal-usuario {
    width: 68%;
}
.btn-ok{
    border: none;
    margin: 0;
    padding: 9px 15px;
    color: white;
    background: #108ee9;
    border-radius: 3px;
    cursor: pointer;
}

.btn-cancelar{
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 9px 10px;
    margin-right: 20px;
    border-radius: 3px;
    color: #666;
    cursor: pointer;
}

.btn-cancelar:hover {
    border-color: #108ee9;
    color: #108ee9;
}
.input-informacion {
    display: flex;
}

.contenedor-label-form{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contenedor-input-form {
    width: 60%;
    margin-left: 10px;
}

.label-form {
    color: #666;
}

.label-form::after {
    content: "*";
    color: #F0415B;
    margin-right: 5px;
    font-size: 12px;
}
.input-form::after{
    content: "\E630";
    color: #00a854;
}

.input-form {
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 8px 10px;
    margin: 0;
    color: #666;
    border-radius: 3px;
    width: 70%;
}

.input-form:hover {
    border-color: #108ee9;
}

/*---------Estilos Bicicleta------------------*/
select.input-form{
	width: 78%;
	height: 2.39rem;
}
/*----------------Estos Multas -------------------*/

textarea {
    height: 3rem;
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 8px 10px;
    margin: 0;
    color: #666;
    border-radius: 3px;
    width: 70%;
    background-color: #fff;
}